*{
    margin : 0;
    padding: 0;
}
.download-btn a {
        width: 150px;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        color:rgb(255, 0, 43);
        border: px, solid green;
        font-weight: bolder;
        position: relative;
        z-index: 1;
        transition: color 0.5s;
        font-family: 'M PLUS 1 Code', sans-serif;
    }
 .download-btn a span {
     width: 0%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background: peru;
     z-index: -1;
     transition: 0.5s;
     border-radius: 7%;
 }

 .download-btn a:hover span {
     width: 100%;
 }

 /*banner start hr*/


#banner{

   min-height :105vh;
   background-image: url(images/e.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position:center;

}

.logo{
    height: 120px;
    background-size: contain;    
    position: absolute;
    top: 4%;
    left:2%;
    border-radius:60%;
    object-fit:cover;
    
}
/*bannner section start here*/
.banner-text{
    text-align: center;
    color: black;
    padding-top: 180px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Kaushan Script';

}

.banner-text p{
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 92, 0);
}
.banner-text a{
    color: rgb(0, 255, 0);
    text-decoration: none;




}


.banner-btn{
    margin: 40px auto 0;
}

.banner-btn a{
    width: 100px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 0 15px;
    color: rgb(0, 0, 0);
    font-weight:bolder;
    font-size:25px ;
    font-style: italic;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
 .banner-btn a span{
     width:100%;
     height: 0;
     position: absolute;
     top:0;
     left: 0;
     background:plum;
     z-index: -1;
     transition: 0.5s;
    }

    .banner-btn a:hover span{
        height:100%;
    
     }
/*banner section ends here*/


/*Nav section start here*/

#sideNav{
    width: 150px;
    height: 100vh;
    position: fixed;
    right: -150px;
    top: 0;
    z-index: 2;
    transition: 0.5sec;
    
}
nav ul li{
    list-style-type: none;
    margin: 40px 20px;
    font-weight:bolder;



}
nav ul li a{
    text-decoration:wavy;
    color:black;
    font-weight: bold;
    font-family:cursive;
    font-style: italic;





}
/*Nav section ends here*/

/*menu starts*/

#menuBtn{
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 40px;
    margin-top: 15px;
}




@media screen and (max-width: 770px){
    .banner-text h1{
        font-size: 80px;
        font-weight: bolder;
    
    }  .banner-btn a{
        display: block;
        margin: 20px auto;
    }

}
/*menu ends*/


/*--project section starts--*/

#project{
    min-height :105vh;
    background-image: url(images/h.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Kaushan Script';

}

.title-text{
    text-align: center;
    padding-top: 70px;

}
.title-text p{
    margin: auto;
    font-size: 30px;
    color: black;
    font-weight: bold;
    position: relative;
    display: inline-block;
    z-index: 1;

    
   
}

.title-text p::after{
    content: "";
    width: 45px;
    height: 25px;
    background: linear-gradient(green ,yellow);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transition:rotate(10deg);
    border-top-left-radius:35px;
    border-bottom-right-radius: 35px;

}
.title-text h1{
    font-size: 40px;
    color:rgb(0, 43, 0);
       
}

.project-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.projects{
    flex-basis: 50%;

}
 .projects-img{
     flex-basis: 50%;
     margin: auto;

 }

 .projects-img img{
     width:200px;
 }
 .projects h1{
    color: #03d4bc;
    font-weight:bolder;
    text-align: left;
    margin-bottom: 10px;
    
    }

.projects h1 a{
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        color: #009688;
        border: .5px, solid green;
        font-weight:bolder;
        position: relative;
        z-index: 1;
        transition: color 0.5s;
        

    }

.projects-desc{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        font-size: 20px;
    }

/*    .projects-icon{
}*/

.projects-text p{
    padding: 0 20px;
    text-align: initial;
    font-style: italic;
}

@media screen and (max-width:770px){
    .title-text h1{
        font-size: 20px;
}
    .projects{
        flex-basis: 100%;                                  
}
    .projects-img{
        flex-basis: 100%;

}
    .projects{
        flex-basis: 100%;

}
}

/*project section ends*/



#skills{
    min-height :105vh;
    background-image: url(images/c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Kaushan Script';

}


.skills-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto; padding: 50px;

   
    
}
 
.single-skills{
    flex-basis:30%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
    
}

.single-skills img{
    height:250px;
    border-radius: 7px;
    object-fit: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#005e54);
    opacity: 0;
    transition: 1s;
}

.single-skills:hover .overlay{
    opacity:0.5;
}
.single-skills img{
    object-fit: cover;
    
    
}
.skills-desc{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    opacity: 0;
}

.hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.skills-desc h3 a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: rgb(152, 248, 8);
    border: .5px, solid green;
    font-weight:bold;
    font-size: 30px;
}
.skills-desc p{
    font-size: 14px;
    color: #00e6cf;
    
}

.single-skills:hover .skills-desc{
    opacity: 1;
    bottom: 40%;
}

@media screen and (max-width: 770px){
    .single-skills{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .skills-desc p{
        font-size: 14px;
    
    }
    .skills-desc{
        width: 100%;
    }
    .hr{
        margin: 5px auto;
    }


}.single-skills:hover .skills-desc{
        bottom: 25% !important;
    }
     /*code section ends*/
/*gaming section starts*/

#about{
    min-height :105vh;
    background-image: url(images/j.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Kaushan Script';


}


.me-desc{
    display: flex;
    align-items: center;
    margin: 60px;
    font-size: 18px;
}


/*    .projects-icon{
}*/

.me-text p{
text-align: initial;
color: white;
}