* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* font-family: 'Fredoka One', cursive; */
  font-family: "Risque", cursive;
  width: 100%;
  
}

body {
  background: #f3f5f9;
}
.nav-btn{
  margin: 40px auto 0;
}
.nav{
  padding-left: 50%;
  position: fixed;
  text-align: center;
  top:5%;
}
.nav-btn a{
  width:100px;
  text-decoration: none;
  display: inline-block;
  margin: 0 0px;
  padding: 0 11px;
  color: rgb(0, 0, 0);
  font-size:18px ;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
  text-align:center;
}
.nav-btn a span{
   width:cover;
   height: 0;
   position: absolute;
   top:0;
   left: 0;
   background:plum;
   z-index: -1;
   transition: 0.5s;

  }

  .nav-btn a:hover span{
      height:100%;
  
   }
.wrapper{
    min-height: 85vh;
    background:rgb(253, 238, 236);
    background-attachment: fixed;
}
.wrapper2 {
  position: fixed;
}

.wrapper2 img{
 height: 5em;
  width: 10.5em;
  object-fit: cover;
 }
.wrapper2 .sidebar {
  position: fixed;
  width: 100%;
 background: rgba(186, 135, 216, 0.3);
    padding-top: 0.9em;
	 padding-bottom: 0.9em;
	 position: fixed;
     top: 0;
  	left: 0;
 	 z-index: 9999;
}
.wrapper2 .sidebar ul {
    display: flex;
align-items: center;

}
.wrapper2 .sidebar ul li {
  padding: 10px 30px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
  /* border-top: 1px solid rgba(225, 225, 225, 0.05); */
 
}

.wrapper2 .sidebar ul li a {
  
  color: #594f8d;
  display: block;
  font-size: larger;
}

.wrapper2 .sidebar ul li:hover {
  background: #594f8d;
}
.wrapper2 .sidebar ul li:hover a {
  color: #fff;
}
#bio h3{
  /* min-height: 100vh; */ 
  display: flex; 
   flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #594f8d;
  /* margin-bottom: 10px; */
  font-size: 2em;
}
#bio .image img {
  width: 12.5em;
  height: 12.5em;
  border-radius: 100%;
  margin-left: 30%;
  box-shadow: 0px 5px 25px -5px mistyrose;
  border: 0.6em solid #878de4;
}
.in-div{
margin-top: 20%;
}
.image{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
 .max-width{

    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
    
}
.wrapper .home-content .text-1{
    font-size: 75px;
    color: #4b4276;
    
}
.wrapper .home-content .text-2{
    font-size: 3.5em;
    font-weight: 600;
    margin-left: -3px; 
    color: #4b4276;
    
}

.wrapper .home-content .text-3{
    font-size: 2.5em;
    margin: 5px 0;
    color: #4b4276;
    
}
.wrapper .home-content .text-4{
    font-size: 2.5em;
    margin: 5px 0;
    color: #4b4276;
   
}


/* About section */


.new-section{
 min-height: 110vh;
  
  padding-top: 6.25em;

    background:rgb(253, 238, 236); 
}
.flex-container {
 display: grid;
 margin-left: 5%;
 padding-bottom: 0.9em;
  grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
}
            

.inside-div{
    height: auto;
  width: auto;
  max-width: 31.6em;
display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Risque", cursive;
    
}

.inside-div img{
    width: 25em;
  height: cover;
object-fit: cover;
}

.inside-div p{
  font-size: 1.25em;
  color: #4d418b;
  
}
.inside-div h2{
  
  color: #594f8d;
 margin-bottom: 0.625em;
 font-family:'Kaushan Script';
}
.inside-div one{
position: relative;
  text-align: center;
}
.inside-div a{
  background: linear-gradient(to right, #867ac5 , mistyrose);  
  padding: 0.625em 0.9em;
  margin-top: 0.9em;
  font-size: larger;
  border-radius: 0.4em;
}
.inside-div a:hover{
background: linear-gradient(to right, rgb(243, 199, 206) , mistyrose);
}
.centered {
 
  z-index: 100;
  position: absolute;
}


.three{
 min-height: 90vh;
 background: rgb(253, 238, 236);
}
.wrapper3 {
  
   display: grid;
   padding-bottom: 0.9em;
  grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr)); 
  }           

  .progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 6.25em;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 2.5em;
  width: 31.25em;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 6.25em;
  background: rgb(13, 81, 170);
  height: 1.875em;
  width: 0;
  text-align: center;
  color: #f3f5f9;
}

.progress-value1 {
  animation: load1 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 6.25em;
  background: rgb(21, 153, 177);
  height: 1.875em;
  width: 0;
  text-align: center;
  color: #f3f5f9;
  
}

.progress-value2 {
  animation: load2 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 6.25em;
  background: rgb(175, 40, 85);
  height: 1.875em;
  width: 0;
  text-align: center;
  color: #f3f5f9;
  
}
.progress-value3 {
  animation: load3 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 6.25em;
  background: rgb(76, 32, 148);
  height: 1.875em;
  width: 0;
  text-align: center;
  color: #f3f5f9;
}
.progress-value4 {
  animation: load4 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 6.25em;
  background: rgb(94, 138, 11);
  height: 1.875em;
  width: 0;
  text-align: center;
  color: #f3f5f9;
}
.progress-value5 {
  animation: load5 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 6.25em;
  background: rgb(163, 75, 75);
  height: 1.875em;
  width: 0;
  text-align: center;
  color: #f3f5f9;
}
@keyframes load {
  0% { width: 0; }
  100% { width: 80%; }
}
@keyframes load1 {
  0% { width: 0; }
  100% { width: 70%; }
}
@keyframes load2 {
  0% { width: 0; }
  100% { width: 60%; }
}
@keyframes load3 {
  0% { width: 0; }
  100% { width: 70%; }
}
@keyframes load4 {
  0% { width: 0; }
  100% { width: 50%; }
}
@keyframes load5 {
  0% { width: 0; }
  100% { width: 80%; }
}
h3 {
  color: #594f8d;
  margin-bottom: 0.625em;
  font-size: 2.19em;
  font-family:'Kaushan Script';
}
@media (prefers-reduced-motion: no-preference) {
  .progress-value {
    animation: load 5s infinite;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .progress-value1 {
    animation: load1 5s infinite;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .progress-value2 {
    animation: load2 5s infinite;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .progress-value3 {
    animation: load3 5s infinite;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .progress-value4 {
    animation: load4 5s infinite;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .progress-value5 {
    animation: load5 5s infinite;
  }
}

/* EDUCATION SECTION */

.education{
  min-height: 110vh;
  background: rgb(253, 238, 236);

}

.edu-place{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.education .edu-container  {
  height: 37.5em; 
  max-width: 34.375em;
  background: url("./picture6.modified.jpg");
  border-radius: 1.25em;
  box-shadow: 0 0 20px 8px #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.education .edu-content {
  text-align: center;
  color: rgb(253, 238, 236);
  padding: 2.5em;
} 
.edu-content .cards {
  margin: 1.25em;
  padding:1.25em;
  max-width: 31.25em;
  min-height: 12.5em;
  border-radius: 0.625em;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  }
  
.edu-content .cards:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.edu-content .cards__title {
  font-weight: 400;
  color: #ffffff;
}
.card-1 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}
.card-2 {
  background: radial-gradient(#76b2fe, #b69efe);
}
.edu-container h2 {
  font-weight: 300;
  text-align: center;
  font-size: 1.375em;
} 
.edu-container h4 {
  font-weight: 300;
  font-size: 1.25em;
  font-family:'Kaushan Script';
  
} 
.edu-place h3{
  text-align: center; 
  font-family:'Kaushan Script'; 
}

/* EXPERIENCE SECTION */
.experience{
  min-height: 70vh;
  background: linear-gradient(rgb(253, 238, 236), transparent);
}

.experience h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #594f8d;
  margin-bottom: 1.875em;
  font-size: 2em;
  font-family:'Kaushan Script';
}
:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625em, 1fr));
  gap: 2rem;
  padding: 0;
  list-style-type: none;
  align-items: center;
  margin-bottom: 0.9em;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}      

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1.125em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .16px;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #594f8d;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;
}

/* Work section */

.work{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    min-height: 100vh;
    
}

.work .container {
  max-width: 60em; 
    justify-content: center;
    align-items: center;

  /* Center the container in middle on horizontal axis */
  /* margin: 0 auto; */

  /* Add empty space above the container (20% of the view height) */
  /* margin-top: 20vh; */
} 
.work-card img{
  
  width: 100%;
  border-radius: 0.75em;
  height: 13.375em;
  object-fit: cover;
}

.work-card {
  display: inline-block;
  min-width: 18.75em;
  max-width: 20em;
  background-color: #fef8f8;
  border: 1px solid #887897;
  padding: 8px;
  border-radius: 0.75em;
  margin-bottom: 0.75em;
  margin-right: 0.65em;
}
/* Style div elements that have class equal to tag */
   .tag {
   padding: 4px 8px;
  border: 1px solid #e5eaed;                  
  border-radius: 50px;
   font-size: 12px;
   font-weight: 600;
  color: #887897;
   }
/* Style div elements that have class equal to name */
.work .name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
  color: #594f8d;
}

/* Style p element */
.work p {
  font-size: 14px;
  color:  #887897;
  line-height: 150%;
}

/* Style button element */
.work-btn {
  border: none;
  padding: 10px 22px;
  border-radius: 50px;

  font-weight: 600;
  background: rgba(186, 135, 216, 0.3);
  color: #594f8d;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.work .card__details {
  padding: 16px 8px 8px 8px;
}

.work-btn:focus,
.work-btn:hover {
  background-color:#594f8d;
  color: #e0efff;
}
.work h1{
  color:#594f8d;
  margin-bottom: 0.75em;
  font-size: 2em;
  font-family:'Kaushan Script';
}


/*  Footer section */

footer {
  background: linear-gradient(transparent, mistyrose) ;
  text-align: center;
  padding: 3.125em 1.25em;
  font-size: Larger;
 
}
